<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap-4.4.1/css/bootstrap.min.css">
    <title>GYM Khaana</title>
</head>
<style>
    @media screen and (min-width: 768px) {
        .card {
            max-width: 30vw;
        }
    }
</style>

<body>
    <form method="POST">
        <div class="container mt-5">
            <div class="font-weight-bold text-center m-4">
                <h4>Admin Login</h4>
            </div>
        </div>
        <% if(flash){ %>
        <div class="alert alert-danger text-center" role="alert">
            <%= flash[0] %>
        </div>
        <% } %>
        <div class="d-flex justify-content-center">
            <div class="card p-2 m-2">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                                required>
                        </div>
                        <div class="input-group mb-2 mr-sm-2">
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Password" required>
                        </div>
                        <button type="submit" class="btn btn-success mt-4" style="width: 100%;">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </form>
    <script src="/jquery/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper-1.12.9.min.js"></script>
    <script src="/bootstrap-4.4.1/js/bootstrap.min.js"></script>
</body>

</html>