<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap-4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/jquery/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/css/admin.style.css">
    <title>GYM Khaana</title>
</head>

<body>
    <nav class="sidebar p-4">
        <div class="h2 m-2">GYM Khaana</div>
        <ul class="nav nav-pills nav-fill flex-column mt-4">
            <li class="nav-item">
                <a class="nav-link" href="/admin/">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/menu">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/admin/orders">Order History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/incompleteOrders">Incomplete Orders</a>
            </li>
        </ul>
    </nav>
    <div class="content">
        <div class="navbar navbar-dark bg-dark">
            <div class="navbar-brand">Order History</div>
        </div>
        <!--Insert Code here-->
    </div>

    <script src="/jquery/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper-1.12.9.min.js"></script>
    <script src="/bootstrap-4.4.1/js/bootstrap.min.js"></script>
    <script src="/jquery/jquery.dataTables.min.js"></script>
    <script>
    //Add datatable script
    </script>
</body>

</html>