<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/bootstrap-4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>GYM Khaana</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="/">GYM Khaana</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Order History</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="font-weight-bold text-center p-5">
        <h5>Search your Orders</h5>
    </div>
  </div>
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <form action="/userOrders" method="POST">
                    <div class="form-group">
                        <input type="text"  class="form-control" id="custName" name="custName" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="tel" pattern="[1-9][0-9]{9}" class="form-control" id="custNumber" name="custNumber" placeholder="Phone number">
                    </div>
                    <button type="submit" class="btn btn-success mt-4" style="width: 100%;" id="findToken">Find Token</button>
                </form>
            </div>
        </div>
    </div>




  <script src="/jquery/jquery-3.2.1.slim.min.js"></script>
  <script src="/js/popper-1.12.9.min.js"></script>
  <script src="/bootstrap-4.4.1/js/bootstrap.min.js"></script>
</body>

</html>